<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.ActivitySubscription">
	<resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.ActivitySubscription">
		<id column="userId" property="userid" jdbcType="VARCHAR" />
		<id column="activityId" property="activityid" jdbcType="VARCHAR" />
		<result column="subscribeTime" property="subscribetime" jdbcType="BIGINT" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gongpingjia.carplay.po.ActivitySubscriptionKey">
		select
		userId, activityId, subscribeTime
		from activity_subscription
		where userId = #{userid,jdbcType=VARCHAR}
		and activityId = #{activityid,jdbcType=VARCHAR}
	</select>
	
	
	
	<select id="selectByUserId" resultType="java.util.Map" parameterType="java.util.Map">
		SELECT
			subscription.activityId,
			activity.createTime AS publishTime,
			activity.start,
			activity.endTime,
			ifnull(activity.description, '') AS introduction,
			activity.location,
			activity.type,
			activity.paymentType AS pay,
			activity.organizer,
			`user`.nickname,
			`user`.gender,
			(YEAR (sysdate()) - `user`.birthYear) AS age,
			concat(#{assetUrl,jdbcType=VARCHAR}, `user`.photo) AS photo,
			IFNULL(CONCAT(#{gpjIMGUrl,jdbcType=VARCHAR}, car.brandLogo),'') AS carBrandLogo,
			IFNULL(car.model,'') AS carModel,
			IFNULL((YEAR(sysdate())-`user`.drivingLicenseYear),0) AS drivingExperience,
			resA.count AS totalSeat,
			resB.count AS holdingSeat
		FROM
			activity_subscription subscription
		LEFT JOIN activity ON subscription.activityId = activity.id
		LEFT JOIN (
			SELECT
				activityId,
				count(1) AS count
			FROM
				seat_reservation
			GROUP BY
				activityId
		) resA ON activity.id = resA.activityId
		LEFT JOIN (
			SELECT
				activityId,
				count(1) AS count
			FROM
				seat_reservation
			WHERE
				userId IS NOT NULL
			GROUP BY
				activityId
		) resB ON activity.id = resB.activityId
		LEFT JOIN `user` ON activity.organizer = `user`.id
		LEFT JOIN car ON car.userId = `user`.id
		WHERE
			subscription.userId = #{userId,jdbcType=VARCHAR}
		ORDER BY publishTime DESC
		LIMIT #{ignore,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}	
	
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="com.gongpingjia.carplay.po.ActivitySubscriptionKey">
		delete from activity_subscription
		where userId = #{userid,jdbcType=VARCHAR}
		and activityId = #{activityid,jdbcType=VARCHAR}
	</delete>
	
	<insert id="insert" parameterType="com.gongpingjia.carplay.po.ActivitySubscription">
		insert into activity_subscription (userId, activityId, subscribeTime
		)
		values (#{userid,jdbcType=VARCHAR}, #{activityid,jdbcType=VARCHAR}, #{subscribetime,jdbcType=BIGINT}
		)
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.gongpingjia.carplay.po.ActivitySubscription">
		update activity_subscription
		set subscribeTime = #{subscribetime,jdbcType=BIGINT}
		where userId = #{userid,jdbcType=VARCHAR}
		and activityId = #{activityid,jdbcType=VARCHAR}
	</update>
	
	<select id="selectCountByParam" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT 
			count(1) 
		FROM 
			activity_subscription 
		<where>
			<if test="activityId != null">
				AND activityId = #{activityId,jdbcType=VARCHAR} 
			</if>
			<if test="userId != null">
				AND userId = #{userId,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
</mapper>