<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.AuthenticationApplication">
	<resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.AuthenticationApplication">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="userId" property="userid" jdbcType="VARCHAR" />
		<result column="drivingExperience" property="drivingexperience" jdbcType="INTEGER" />
		<result column="brand" property="brand" jdbcType="VARCHAR" />
		<result column="brandLogo" property="brandlogo" jdbcType="VARCHAR" />
		<result column="model" property="model" jdbcType="VARCHAR" />
		<result column="slug" property="slug" jdbcType="VARCHAR" />
    		<result column="price" property="price" jdbcType="DOUBLE" />
		<result column="status" property="status" jdbcType="VARCHAR" />
    		<result column="photo" property="photo" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="BIGINT" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		id, userId, drivingExperience,
		brand, brandLogo, model, slug, price, status, photo, createTime
		from authentication_application
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<select id="selectCarModelbyId" resultType="java.util.Map" parameterType="java.util.Map">
		select ifnull(model, "") as carModel from authentication_application where id =#{applicationId,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from authentication_application
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.gongpingjia.carplay.po.AuthenticationApplication">
    	    insert into authentication_application (id, userId, drivingExperience, 
	      brand, brandLogo, model, 
	      slug, price, status, 
	      photo, createTime)
	    values (#{id,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{drivingexperience,jdbcType=INTEGER}, 
	      #{brand,jdbcType=VARCHAR}, #{brandlogo,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
	      #{slug,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{status,jdbcType=VARCHAR}, 
	      #{photo,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT})
      	</insert>


	<update id="updateByPrimaryKey" parameterType="com.gongpingjia.carplay.po.AuthenticationApplication">
		update authentication_application
		set userId = #{userid,jdbcType=VARCHAR},
		drivingExperience = #{drivingexperience,jdbcType=INTEGER},
		brand =	#{brand,jdbcType=VARCHAR},
		brandLogo = #{brandlogo,jdbcType=VARCHAR},
		model = #{model,jdbcType=VARCHAR},
		slug =	#{slug,jdbcType=VARCHAR},
 		price = #{price,jdbcType=DOUBLE},
		status = #{status,jdbcType=VARCHAR},
      		photo = #{photo,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=BIGINT}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="selectByParam" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		id, userId, drivingExperience,
		brand, brandLogo, model, slug, price, status, createTime
		from authentication_application
		where 1 = 1
		<if test="id != null">
        	and id = #{id,jdbcType=VARCHAR}
     	</if>
		<if test="userId != null">
        	and userId = #{userId,jdbcType=VARCHAR}
     	</if>
	</select>
</mapper>