<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.InvitationChannel">
	<resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.InvitationChannel">
		<id column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from invitation_channel
		where name = #{name,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.gongpingjia.carplay.po.InvitationChannel">
		insert into invitation_channel (name)
		values (#{name,jdbcType=VARCHAR})
	</insert>

</mapper>