<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.SeatReservation">
	<resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.SeatReservation">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="activityId" property="activityid" jdbcType="VARCHAR" />
		<result column="carId" property="carid" jdbcType="VARCHAR" />
		<result column="userId" property="userid" jdbcType="VARCHAR" />
		<result column="createTime" property="createtime" jdbcType="BIGINT" />
		<result column="bookTime" property="booktime" jdbcType="BIGINT" />
		<result column="seatIndex" property="seatindex" jdbcType="INTEGER" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		id, activityId, carId, userId, createTime, bookTime, seatIndex
		from seat_reservation
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from seat_reservation
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.gongpingjia.carplay.po.SeatReservation">
		insert into seat_reservation (id, activityId, carId,
		userId, createTime, bookTime,
		seatIndex)
		values (#{id,jdbcType=VARCHAR}, #{activityid,jdbcType=VARCHAR}, #{carid,jdbcType=VARCHAR},
		#{userid,jdbcType=VARCHAR}, #{createtime,jdbcType=BIGINT}, #{booktime,jdbcType=BIGINT},
		#{seatindex,jdbcType=INTEGER})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.gongpingjia.carplay.po.SeatReservation">
		update seat_reservation
		set activityId = #{activityid,jdbcType=VARCHAR},
		carId = #{carid,jdbcType=VARCHAR},
		userId = #{userid,jdbcType=VARCHAR},
		createTime = #{createtime,jdbcType=BIGINT},
		bookTime = #{booktime,jdbcType=BIGINT},
		seatIndex = #{seatindex,jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="selectListByParam" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		id, activityId, carId, userId, createTime, bookTime, seatIndex
		from seat_reservation
		<where>
			<if test="activityId != null">
				and activityId = #{activityId,jdbcType=VARCHAR}
			</if>
			<if test="carId != null">
				and carId = #{carId,jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				and userId = #{userId,jdbcType=VARCHAR}
			</if>
			<if test="seatIndex != null">
				and seatIndex = #{seatIndex,jdbcType=INTEGER}
			</if>
		</where>
	</select>
	
	<select id="selectActivityJoinSeatCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from seat_reservation where activityId = #{activityId,jdbcType=VARCHAR} and carid is null
	</select>
	
	<update id="updateByOfferdCar" parameterType="java.util.Map">
		UPDATE seat_reservation 
			SET carId = #{carId,jdbcType=VARCHAR}, 
			seatIndex = seatIndex + 1 
		WHERE activityId = #{activityId,jdbcType=VARCHAR} 
			and carId is null
	</update>
	
	<update id="updateByTakeSeat" parameterType="com.gongpingjia.carplay.po.SeatReservation">
		UPDATE seat_reservation
		SET 
			userId = #{userid,jdbcType=VARCHAR},
		    bookTime = #{booktime,jdbcType=BIGINT}
		WHERE
			activityId = #{activityid,jdbcType=VARCHAR}
		<if test="carid == null">
			AND carId IS NULL
		</if>
		<if test="carid != null">
			AND carId = #{carid,jdbcType=VARCHAR}
		</if>
		<if test="seatindex != null">
			AND seatIndex = #{seatindex,jdbcType=INTEGER}
		</if>
	</update>
	
	<delete id="deleteByParam" parameterType="java.util.Map">
		delete from seat_reservation
		<where>
			<if test="activityId != null">
				AND activityId = #{activityId,jdbcType=VARCHAR}
			</if>
			<if test="carId != null">
				AND carId = #{carId,jdbcType=VARCHAR}
			</if>
			<if test="userId != null">
				AND userId = #{userId,jdbcType=VARCHAR}
			</if>
		</where>
	</delete>
	
	<select id="selectCarIdsByActivityId" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT 
			distinct carId 
		FROM 
			seat_reservation 
		WHERE 
			activityId = #{activityId,jdbcType=VARCHAR} 
			AND carId IS NOT NULL
	</select>
	
	<update id="updateByQuitActivity" parameterType="com.gongpingjia.carplay.po.SeatReservation">
		UPDATE seat_reservation
		SET 
			userId = NULL, bookTime = NULL
		WHERE
			activityId = #{activityId,jdbcType=VARCHAR}	AND userId = #{userId,jdbcType=VARCHAR}
	</update>
</mapper>