<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.Activity">
	<resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.Activity">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="organizer" property="organizer" jdbcType="VARCHAR" />
		<result column="photo" property="photo" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="title" property="title" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="extraInfo" property="extrainfo" jdbcType="VARCHAR" />
		<result column="start" property="start" jdbcType="BIGINT" />
		<result column="end" property="end" jdbcType="BIGINT" />
    		<result column="endTime" property="endtime" jdbcType="BIGINT" />
		<result column="location" property="location" jdbcType="VARCHAR" />
		<result column="longitude" property="longitude" jdbcType="DOUBLE" />
		<result column="latitude" property="latitude" jdbcType="DOUBLE" />
		<result column="paymentType" property="paymenttype" jdbcType="VARCHAR" />
		<result column="initialSeat" property="initialseat" jdbcType="INTEGER" />
		<result column="createTime" property="createtime" jdbcType="BIGINT" />
		<result column="lastModifiedTime" property="lastmodifiedtime" jdbcType="BIGINT" />
		<result column="extraServiceId" property="extraserviceid" jdbcType="VARCHAR" />
    		<result column="emchatGroupId" property="emchatgroupid" jdbcType="VARCHAR" />
    		<result column="category" property="category" jdbcType="VARCHAR" />
   		<result column="memberSize" property="membersize" jdbcType="INTEGER" />
		<result column="invalid" property="invalid" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		id, organizer, photo, type,
		province, city, district, address, title, description,
		extraInfo, start, end, endTime, location, longitude, latitude,
		paymentType, initialSeat, createTime,
		lastModifiedTime, extraServiceId, emchatGroupId, category, memberSize, invalid
		from activity
		where id = #{id,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByOrganizer" resultType="java.util.Map" parameterType="java.util.Map">
		select
		id as activityId, createTime as publishTime, ifnull(start, 0) as start,endTime,
		ifnull(description, "") as introduction, location, paymentType as pay
		from activity where organizer = #{organizer,jdbcType=VARCHAR}
		order by publishTime desc limit #{ignore,jdbcType=INTEGER}, #{limit,jdbcType=INTEGER}	
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from activity
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.gongpingjia.carplay.po.Activity">
	insert into activity (id, organizer, photo, 
      type, province, city, 
      district, address, title, 
      description, extraInfo, start, 
      end, endTime, location, 
      longitude, latitude, paymentType, 
      initialSeat, createTime, lastModifiedTime, 
      extraServiceId, emchatGroupId, category, 
      memberSize, invalid)
    values (#{id,jdbcType=VARCHAR}, #{organizer,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{district,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{extrainfo,jdbcType=VARCHAR}, #{start,jdbcType=BIGINT}, 
      #{end,jdbcType=BIGINT}, #{endtime,jdbcType=BIGINT}, #{location,jdbcType=VARCHAR}, 
      #{longitude,jdbcType=DOUBLE}, #{latitude,jdbcType=DOUBLE}, #{paymenttype,jdbcType=VARCHAR}, 
      #{initialseat,jdbcType=INTEGER}, #{createtime,jdbcType=BIGINT}, #{lastmodifiedtime,jdbcType=BIGINT}, 
      #{extraserviceid,jdbcType=VARCHAR}, #{emchatgroupid,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, 
      #{membersize,jdbcType=INTEGER}, #{invalid,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.gongpingjia.carplay.po.Activity">
		update activity
		set organizer = #{organizer,jdbcType=VARCHAR},
		photo = #{photo,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		province = #{province,jdbcType=VARCHAR},
		city = #{city,jdbcType=VARCHAR},
		district = #{district,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		title =	#{title,jdbcType=VARCHAR},
		description = #{description,jdbcType=VARCHAR},
		extraInfo = #{extrainfo,jdbcType=VARCHAR},
		start = #{start,jdbcType=BIGINT},
		end = #{end,jdbcType=BIGINT},
      		endTime = #{endtime,jdbcType=BIGINT},
		location = #{location,jdbcType=VARCHAR},
		longitude =	#{longitude,jdbcType=DOUBLE},
		latitude = #{latitude,jdbcType=DOUBLE},
		paymentType = #{paymenttype,jdbcType=VARCHAR},
		initialSeat = #{initialseat,jdbcType=INTEGER},
		createTime = #{createtime,jdbcType=BIGINT},
		lastModifiedTime = #{lastmodifiedtime,jdbcType=BIGINT},
		extraServiceId = #{extraserviceid,jdbcType=VARCHAR},
      		emchatGroupId = #{emchatgroupid,jdbcType=VARCHAR},
      		category = #{category,jdbcType=VARCHAR},
      		memberSize = #{membersize,jdbcType=INTEGER},
		invalid = #{invalid,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<select id="selectActivityPostNumber" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from activity where organizer = #{userid,jdbcType=VARCHAR}
	</select>
</mapper>