<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.EmchatToken" >
  <resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.EmchatToken" >
    <id column="application" property="application" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="expire" property="expire" jdbcType="BIGINT" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    	application, token, expire	
    from emchat_token
    where application = #{application,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from emchat_token
    where application = #{application,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.gongpingjia.carplay.po.EmchatToken" >
    insert into emchat_token (application, token, expire
      )
    values (#{application,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{expire,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gongpingjia.carplay.po.EmchatToken" >
    update emchat_token
    set token = #{token,jdbcType=VARCHAR},
      expire = #{expire,jdbcType=BIGINT}
    where application = #{application,jdbcType=VARCHAR}
  </update>
  
  <select id="selectFirstOne" resultMap="BaseResultMap">
  	SELECT
		application, token, expire
	FROM
		emchat_token
	LIMIT 0, 1
  </select>
</mapper>