<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.UserSubscription">
	<resultMap id="BaseResultMap" type="com.gongpingjia.carplay.po.UserSubscription">
		<id column="fromUser" property="fromuser" jdbcType="VARCHAR" />
		<id column="toUser" property="touser" jdbcType="VARCHAR" />
		<result column="subscribeTime" property="subscribetime" jdbcType="BIGINT" />
	</resultMap>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.gongpingjia.carplay.po.UserSubscriptionKey">
		select
		fromUser, toUser, subscribeTime
		from user_subscription
		where fromUser = #{fromuser,jdbcType=VARCHAR}
		and toUser = #{touser,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="com.gongpingjia.carplay.po.UserSubscriptionKey">
		delete from user_subscription
		where fromUser = #{fromuser,jdbcType=VARCHAR}
		and toUser = #{touser,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.gongpingjia.carplay.po.UserSubscription">
		insert into user_subscription (fromUser, toUser, subscribeTime)
		values (#{fromuser,jdbcType=VARCHAR}, #{touser,jdbcType=VARCHAR}, #{subscribetime,jdbcType=BIGINT})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.gongpingjia.carplay.po.UserSubscription">
		update user_subscription
		set subscribeTime = #{subscribetime,jdbcType=BIGINT}
		where fromUser = #{fromuser,jdbcType=VARCHAR}
		and toUser = #{touser,jdbcType=VARCHAR}
	</update>
	
	<select id="subscriptionCount" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) as count from user_subscription 
		where fromUser = #{interviewedUser,jdbcType=VARCHAR}
              and toUser = #{visitorUser,jdbcType=VARCHAR}
	</select>
</mapper>