<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongpingjia.carplay.po.UserInfo">
	<resultMap id="UserInfoMap" type="com.gongpingjia.carplay.po.UserInfo">
		<result column="userId" property="userId" jdbcType="VARCHAR" />
		<result column="nickname" property="nickname" jdbcType="VARCHAR" />
		<result column="gender" property="gender" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="brandLogo" property="carBrandLogo" jdbcType="VARCHAR" />
		<result column="carModel" property="carModel" jdbcType="VARCHAR" />
		<result column="drivingLicensePhoto" property="drivingLicensePhoto" jdbcType="VARCHAR" />
		<result column="drivingExperience" property="drivingExperience" jdbcType="INTEGER" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="district" property="district" jdbcType="VARCHAR" />
		<result column="photo" property="photo" jdbcType="VARCHAR" />
		<result column="isAuthenticated" property="isauthenticated" jdbcType="TINYINT" />
	</resultMap>
	
	<select id="selectUserInfo" resultMap="UserInfoMap" parameterType="java.lang.String">
		select 
		    user.id as userId, 
		    nickname, 
		    gender, 
		    (year(sysdate()) - birthYear) as age, 
		    photo, 
		    ifnull(car.brandLogo, "") as brandLogo, 
		    ifnull(car.model, "") as carModel,
		    ifnull(drivingLicensePhoto, "") as drivingLicensePhoto, 
		    ifnull((year(sysdate()) - drivingLicenseYear), 0) as drivingExperience, 
		    province, 
		    city, 
		    district, 
		    isAuthenticated 
		from user left join car on user.id = car.userId
		where 
		    user.id = #{userid,jdbcType=VARCHAR}
	</select>
	
	<select id="userListenList" resultMap="UserInfoMap" parameterType="java.util.Map">
        select 
			sub.toUser as userId, 
            user.nickname, 
            user.gender, 
            (year(sysdate()) - user.birthYear) as age, 
            user.photo, 
            ifnull((year(sysdate()) - user.drivingLicenseYear), 0) as drivingExperience, 
            ifnull(car.brandLogo, "") as carBrandLogo, 
            ifnull(car.model, "") as carModel 
		from user_subscription sub 
            left join user on sub.toUser = user.id
            left join car on car.userId= user.id 
        order by sub.subscribeTime desc 
        limit #{ignore,jdbcType=INTEGER} , #{limit,jdbcType=INTEGER}
	</select>
	
</mapper>